<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://pure-mist-3605.herokuapp.com/">The Heroku Deployment</a>
  This is a project to make learn rails using examples.
  This is the sample application for the tutorial.
</p>
